@import '../common';

.rc-seal() {
	// common rc-tag mixin
	.rc-tag;

	cursor: pointer;

	border-width: 2px;
	border-color: black;
	display: inline-block;
	position: relative;

	height:75px;
	width: 75px;

	border-radius: 100%;

	i.icon-svg svg {
		width: 40%;
		margin-left: 30%;
		margin-top: 25%;

		display: block;
		margin-right: 0.5em;
		margin-right: 8em;
		float: left;
	}
  
	// Layout
	display: inline-block;
	position: relative;
  overflow: hidden;
  white-space: nowrap;
}